{% extends 'petite_annonce/elements/layouts/base.html'%}
{%load static%}
{% block additional_css %}
<head>
    <meta charset="UTF-8">
	<meta name="csrf_token" content="{{ csrf_token }}">
    <title>Ajouter Annonce</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" >
<link rel="stylesheet" href="{%static 'style1.css'%}">
{% endblock %}
{% block message %}
{% include 'petite_annonce/elements/alert.html' %}
{% endblock %}
{% block content%}

<body>
<form method="post" enctype="multipart/form-data">
    {%include 'petite_annonce/elements/media_marque.html'%}

{{ fmedia.as_p }}

{% csrf_token %}

        <button type="submit" class="btn btn-primary mb-2">Ajouter</button>
    </form>
</body>
{% endblock %}