<div class="row">
  <div class="col-md-6 mb-4">
    <div class="form-outline">
        <label class="form-label"  for="id_category" >La categorie :</label>
        {{category.category}}
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="form-outline">
       <label class="form-label"  for="id_subcategory" >Sous-catégorie :</label>
          <select required class="form-select" id="id_subcategory" name="subcategory">
          </select>
    </div>
  </div>
</div>



{% block additional_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $("#id_category").change(function() {
      var categoryId = $(this).val();
      $.ajax({
        url: '/sous_categories/' + categoryId + '/',
        success: function(data) {
          $("#id_subcategory").html(data);
        }
      });
    });
  });
</script>
{% endblock %}