<div class="row">
  <div class="col-md-6 mb-4">
    <div class="form-outline">
        <label class="form-label"  >La marque :</label>
        {{vehicule_marque.marque}}
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="form-outline">
      <label class="form-label" for="id_vehicule_model" >Le modele:</label>
  <select class="form-select" id="id_vehicule_model" name="vehicule_model"></select>
    </div>
  </div>
</div>
{% block additional_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $("#id_marque").change(function() {
      var marqueId = $(this).val();
      $.ajax({
        url: '/vehicule_model/' + marqueId +'/',
        success: function(data) {
          $("#id_vehicule_model").html(data);
        }
      });
    });
  });
</script>
{% endblock %}