<div class="row">
  <div class="col-md-6 mb-4">
    <div class="form-outline">
        <label class="form-label"  for="id_wilaya" >Wilaya :</label>
        {{ wilaya.wilaya}}
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="form-outline">
       <label class="form-label" for="id_commune" >Commune :</label>
  <select class="form-select" id="id_commune" name="commune">
  </select>
    </div>
  </div>
</div>



{% block additional_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $("#id_wilaya").change(function() {
      var wilayaId = $(this).val();
      $.ajax({
        url: '/commune/' + wilayaId + '/',
        success: function(data) {
          $("#id_commune").html(data);
        }
      });
    });
  });
</script>
{% endblock %}